body,html{
height:100%;
margin: 0;
}

.bg {
  /* The image used */
  background-image: url("media/bg.jpg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headertitle {
  color: white;
position: relative;
top: 90px;
font-size: 60px;
}

.dropdown-mine {
  position: relative;
  display: inline-block;
}

.dropdown-content-mine {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown-mine:hover .dropdown-content-mine {
  display: block;
}
.dropdown-link {
text-decoration: none;
color:black;
transition-duration:2s;
}
.dropdown-link:hover {
text-decoration: none;
color:grey;
}