<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<!-- navbar -->
<nav class = "navbar navbar-dark bg-dark navbar-expand-sm">
    <a href = "#" class = "navbar-brand">Cipher Crypto</a>
    <!-- make navbar horizontal -->
    <div class = "collapse navbar-collapse">
        <!-- navbar contents -->
        <ul class = "navbar-nav mr-auto">
            <li class = "nav-item"><a href = "/" class = "nav-link">Home</a></li>
            <li class = "nav-item"><a href = "#" class = "nav-link">Binary</a></li>
            <li class = "nav-item"><a href = "#" class = "nav-link">Caesar Cipher</a></li>
            <li class = "nav-item"><a href = "rsa" class = "nav-link">RSA</a></li>
            <li class = "nav-item"><a href = "#" class = "nav-link">GitHub</a></li>
        </ul>
    </div>

</nav>

{% block content %}{% endblock %}

</body>
</html>