<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF=8">
    <title>Ceaser Cipher</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body style="background-color: Aqua;">
    <!-- brings in navbar from base.html -->
    {% extends "base.html" %}

    <!-- incorporates the links in the navbar -->
    {% block content %}

    <header> Nihar Marar, Tyler Cloutier, Dylan Roman, Anthony Giustiniano, Cherry Ding</header>
    <a href="https://repl.it/@1846292/CipherCrypto" target="_blank">Here is the code for the game!</a>
    <br/>
    <h1>Ceaser Cipher</h1>
    <p>This is a <b><i>Ceaser Cipher</i></b> Encryption/Decryption Game!</p>
    <p style="color: red;">This game has two options, <b><i>Encrypt</i></b> Messages, or <b><i>Decrypt</i></b> Messages.</p>
    <img width="800" height="300" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Caesar_cipher_left_shift_of_3.svg/1200px-Caesar_cipher_left_shift_of_3.svg.png" alt="A picture of the Ceaser Cipher" />
    <br/>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/o6TPx1Co_wg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <style>
.button {
  border: none;
  color: cyan;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
    </style>
    <br/>
    <br/>
    <form method = "post">
        <!-- user message input -->
        <p><input class="textbox1" name="CeaserCipher1" required> </p>
        <p><input class="textbox2" name="s" required> </p>
        <!-- shows buttons, gives them functions -->
        <p><button class = "button button1" formaction = "/CeaserCipher_encrypt">Encrypt</button><button class = "button button2" formaction = "/CeaserCipher_decrypt">Decrypt</button></p>


        <!-- output -->
        <p class="output">{{ display }}</p>

    </form>
    {% endblock %}
    </body>
</html>