<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .button {
        border: none;
         color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
     }
     .button1 {background-color: #4CAF50;}
     .button2 {background-color: #008CBA;}
</style>
</head>
<body>

    {% extends "base.html" %}

    {% block content %}
    <ul>
        <li>{{ links.index }}</li>
        <li>{{ links.rsa }}</li>
        <li>{{ links.resources }}</li>
        <li>{{ links.test }}</li>
    </ul>
    {% endblock %}

    <input id="bin1" value="Write Message Here">
    <button class = "button button1" onclick = "encrypt()">Encrypt</button>
    <button class = "button button2" onclick = "decrypt()">Decrypt</button>
    <input id="bin2"/>
    <script>

    </script>
    <p>Hello World</p>
</body>
</html>
