<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>CypherCrypto.com</title>
    <style>
        p {
    color: white;
    font-size: 150%;
    top: 300px;
    position: relative;
    }
    </style>

</head>
<body class="bg">
{% extends "base.html" %}

{% block content %}
<center><h1 class="headertitle">CipherCrypto</h1></center>
<center><p>Welcome! On this site you can learn about three different ciphers: RSA, Caesar Cipher, and Binary. You will also be able to experience encrypting and decrypting messages in these ciphers. So, try them out and have fun!</p></center>
{% endblock %}

</body>
</html>