<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

    <!-- creates the looks of the buttons -->
    <style>
    body {background-color: pink;}
    h1 {color: blue;}
    p {
        color: purple;
        font-size: 150%}

    .button {
        border: 1px solid black;
         color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
     }

     .button1 {background-color: #4CAF50;}
     .button2 {background-color: #008CBA;}
</style>

</head>
<body>

<!-- brings in navbar from base.html -->
{% extends "base.html" %}

<!-- incorporates the links in the navbar -->

{% block content %}
<!-- Explains what this page does -->
<p>Here, you can encrypt or decrypt a binary message. Either put a statement or a binary code in the text box, selected the button you want to change the message, and the new message will appear. There are a couple rules:</p>
<p>1. Do not use spaces in you messages</p>
<p>2. DO NOT press the wrong button when encrypting or decrypting (ex: don't press the decrypt button when you did not put in a binary code)</p>

<form method = "post">
    <!-- user message input -->
    <p><input class="textbox1" name="bin1" required> </p>

    <!-- shows buttons, gives them functions -->
    <p><button class = "button button1" formaction = "/bin_encrypt">Encrypt</button><button class = "button button2" formaction = "/bin_decrypt">Decrypt</button></p>


    <!-- output -->
    <p class="output">{{ display }}</p>

</form>
{% endblock %}
</body>
</html>
