<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cipher Crypto RSA</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static', filename = 'styles/rsa.css') }}">
</head>
<body>

<!-- loads base.html template -->
{% extends "base.html" %}

<!-- rsa page content -->
{% block content %}
<ul>
    <li>{{ links.index }}</li>
    <li>{{ links.rsa }}</li>
    <li>{{ links.resources }}</li>
    <li>{{ links.test }}</li>
</ul>
{% endblock %}

</body>
</html>